{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <form method="POST" class="form-row">{% csrf_token %}
            <div class="row">
                <div align="center" class="col-md-12 order-md-1">
                    <h3>Add OPD Record</h3>
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.doctor.label_tag}}<a style="color:rgb(0, 0, 0);" href="{% url 'create_doctor' %}"><b> Add Doctor</b></a>
                    {{form.doctor}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.patient.label_tag}}<a style="color:rgb(0, 0, 0);" href="{% url 'create_patient' %}"><b> Add Patient</b></a>
                    {{form.patient}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.weight.label_tag}}
                    {{form.weight}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.disease.label_tag}}
                    {{form.disease}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.diagnosis.label_tag}}
                    {{form.diagnosis}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.suggestion.label_tag}}
                    {{form.suggestion}}
                </div>
                <div class="col-md-4 order-md-1">
                    {{form.fees.label_tag}}
                    {{form.fees}}
                </div>
                <div class="col-md-2 order-md-1">
                    <hr>
                    <input type="submit" value="Add Record" class="form-control btn btn-primary">
                </div>
                <div class="col-md-2 order-md-1">
                    <hr>
                    <a href="{% url 'patient_view' %}" class="form-control btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>

{% endblock %}