{% extends 'layout.html' %}
{% block content %}


<h1 align='center'>Aradhya Hospital</h1>
<h2 align='center'>Doctor Database</h2>
<table align="center" cellpadding='10px'>
    <tr>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Doctor Name</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Address</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Contact</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Age</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Doctor ID</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Joined on</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);" colspan="2">Actions</th>
    </tr>
    <tr>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_name }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_address }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_contact }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_age }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_ID }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_join_date }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">
        <a class="btn btn-sm btn-outline-info" href="{% url 'patient_view' %}">back</td>
    </tr>
    <br><br>
</table>

{% endblock %}