{% extends 'layout.html' %}
{% block content %}

<h1 align='center'>Aradhya Hospital</h1>
<h2 align='center'>All Doctors Personal Details</h2>
<table align="center" cellpadding='5px'>
    <tr align="center" style="font-size: large;
    font-family:sans-serif;
    color: white;
    border-bottom:1px solid rgb(247, 84, 8);
    border-right-style: double;
    background-color:rgb(74, 165, 74);">
        <th><a style="color: white;" href="#">Doctor Name</a></th>
        <th>Address</th>
        <th><a style="color: white;" href="#">City</a></th>
        <th>Contact</th>
        <th><a style="color: white;" href="#">Age</a></th>
        <th><a style="color: white;" href="#">Doctor ID</a></th>
        <th><a style="color: white;" href="#">Join Date</a></th>
        <th colspan="2">
            <a href="{% url 'create_doctor' %}"><h5 class="btn btn-outline-warning">Create New</h5></a>
        </th>
    </tr>
    {% for record in doctor %}
    <tr>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_name }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_address }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_city }}</td>

    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_contact }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_age }}</td>

    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_ID }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.doctor_join_date }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">
        <a class="btn btn-sm btn-outline-success" href="/patient_view/update_doctor/{{record.pk}}">Edit</a>
    </td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">
        <a class="btn btn-sm btn-outline-danger" href="/patient_view/delete_doctor/{{record.pk}}">Delete</a>
    </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}