{% extends 'layout.html' %}
{% block content %}

<h1 align='center'>Aradhya Hospital</h1>
<h2 align='center'>All Patient Personal Details</h2>
<table align="center" cellpadding='5px'>
    <tr align="center" style="font-size: large;
    font-family:sans-serif;
    color: white;
    border-bottom:1px solid rgb(247, 84, 8);
    background-color:rgb(74, 165, 74);">
        <th><a style="color: white;" href="/patient_view/patient_personal_order_by/patient_name">P-Name</a></th>
        <th>Address</th>
        <th><a style="color: white;" href="/patient_view/patient_personal_order_by/patient_city">City</a></th>
        <th>Contact</th>
        <th><a style="color: white;" href="/patient_view/patient_personal_order_by/patient_age">Age</a></th>
        <th><a style="color: white;" href="/patient_view/patient_personal_order_by/patient_ID">P-ID</a></th>
        <th><a style="color: white;" href="/patient_view/patient_personal_order_by/patient_registration_date">Reg-Date</a></th>
        <th colspan="2">
            <a href="{% url 'create_patient' %}"><h5 class="btn btn-outline-warning">Add New</h5></a>
        </th>
    </tr>
    {% for record in patient %}
    <tr>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_name }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_address }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_city }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_contact }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_age }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_ID }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_registration_date }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">
        <a class="btn btn-sm btn-outline-success" href="/patient_view/update_patient/{{record.id}}">Edit</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">
        <a class="btn btn-sm btn-outline-danger" href="#">Delete</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}