{% extends 'layout.html' %}
{% block content %}

<h1 align='center'>Aradhya Hospital</h1>
<h2 align='center'>All Patient Personal Details</h2>
<table align="center" cellpadding='10px'>
    <tr>
        <th style="border-bottom:1px solid rgb(247, 84, 8);"><a href="/patient_view/patient_personal_details/-patient_name">Patient Name</a></th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Address</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);"><a href="/patient_view/patient_personal_details/-patient_city">City</a></th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);">Contact</th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);"><a href="/patient_view/patient_personal_details/-patient_age">Age</a></th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);"><a href="/patient_view/patient_personal_details/-patient_ID">Patient ID</a></th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);"><a href="/patient_view/patient_personal_details/-patient_registration_date">Registration Date</a></th>
        <th style="border-bottom:1px solid rgb(247, 84, 8);" colspan="2">Actions</th>
    </tr>
    {% for record in patient %}
    <tr>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_name }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_address }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_city }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_contact }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_age }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_ID }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);">{{ record.patient_registration_date }}</td>
    <td style="border-bottom:1px solid rgb(255, 166, 0);"><a href="/patient_view/">Comming Soon</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}