{% extends  'layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<style>
  body{
        background-image: url("{% static 'hos10.png' %}");
        background-size:100%;
      }
</style>
<body class="text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <form action="{{request.build_absolute_uri}}" method="POST" class="form-signin">
        {% csrf_token %}
      <img class="mb-4" src="{% static 'hos8.jpeg' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Own Aradhya Hospital</h1>
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus>
      <br>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input class="btn btn-lg btn-primary btn-block" value="Signin !" type="submit">
      {% if message %}
    {{message}}
    {% endif %}
    </form>
  </div>
  </body>
    
        
    
</body>
</html>
{% endblock %}