{% extends 'layout.html' %}
{% block content %}
{% load static %}
<style>
	body{
		background-image: url("{% static 'hos1.jpg' %}");
		background-size: cover;
	}
</style>
<br>
<body>
<form method="POST" action="{% url 'contactus' %}">
	{% csrf_token %}
	<div style="color: white;" class="container contact">
		<div class="row">
			<div class="col-md-3">
				<div class="contact-info"><br><br><br><br>
					<h2>Contact Us</h2>
					<h4>We would love to hear from you !</h4>
					<l style="font-size: x-large;color: rgb(250, 121, 0);"><b>{{message}}</b></l>
				</div>
			</div>
			<div class="col-md-9">
				<div class="contact-form">
					<div class="form-group">
						<label class="control-label col-sm-2" for="fname">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="fname" placeholder="Enter your Name"
								name="name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="comment">Message:</label>
						<div class="col-sm-10">
							<textarea name="message" class="form-control" rows="5" id="comment"
								placeholder="Enter Message"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<h3><button type="submit" class="btn btn-success">Submit</button>
							<a style="color: white;" href="https://www.facebook.com/ajayk301">
								<img src="{% static 'facebook.png' %}" height="80"></a>
							<a style="color: white;" href="https://www.instagram.com/ajayy_k_/">
								<img src="{% static 'instagram.png' %}" height="63"></a>
								<img src="{% static 'whatsapp.png' %}" height="50">+91 942 015 7827</a>
								<p style="scrollbar-shadow-color: tomato;">ajay.watchout@gmail.com</p>
							</h3>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</form>
</body>
<footer class="container py-5">
	<div class="row">
	  <div class="col-12 col-md-3">
		<h6 style="color: white;">
		  &copy; 2020-2025
		  
		  <a href="#" class="fa fa-twitter"></a>
		</h6>
	  </div>
	</div>
  </footer>
{% endblock %}