{% extends 'layout.html' %}
{% block content %}
{% load static %}

<style>
  body{
  background-image: url("{% static 'hos7.jpg' %}");
  background-size:100%;
}
</style>

<body>
  <home align="center">
      <h1 style="font-family:cursive;" class="display-6 font-weight-normal"><b>Aradhya Hospital</b></h1>
      
      <h3 style="font-family: 'Courier New', Courier, monospace;color:rgb(243, 93, 6);" class="font-weight-normal"><b>Not just better healthcare,<br>but a better healthcare<br>experience.</b></h3>
      {% if not user.is_authenticated %}
      <h3><a href="{% url 'signin' %}">Own Aradhya Hospital</a></h3>
      {% endif %}
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </home>
    
</body>
{% endblock %}